[submodule "qwen-code-api"]
	path = qwen-code-api
	url = https://github.com/inno-se-toolkit/qwen-code-api-py
[submodule "nanobot-websocket-channel"]
	path = nanobot-websocket-channel
	url = https://github.com/inno-se-toolkit/nanobot-websocket-channel
